# Exercises

In [21]:
import pandas as pd
import numpy as np

import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, expr

1. Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language

In [6]:
data = {"language": ['python', 'javascript', 'c#', 'julia']}
language = pd.DataFrame(data)
language

     language
0      python
1  javascript
2          c#
3       julia

In [7]:
df = spark.createDataFrame(language)
df

DataFrame[language: string]

- View the schema of the dataframe

In [8]:
df.printSchema()

root
 |-- language: string (nullable = true)

- Output the shape of the dataframe

In [14]:
def spark_shape(self):
    return (self.count(), len(self.columns))
pyspark.sql.dataframe.DataFrame.shape = spark_shape

In [15]:
df.shape()

(4, 1)

- Show the first 5 records in the dataframe

In [16]:
df.show(5)

+----------+
|  language|
+----------+
|    python|
|javascript|
|        c#|
|     julia|
+----------+

2. Load the mpg dataset as a spark dataframe.

In [19]:
from pydataset import data

mpg = spark.createDataFrame(data('mpg'))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

    a. Create 1 column of output that contains a message like the one below:


> The 1999 audi a4 has a 4 cylinder engine.

For each vehicle.

In [24]:
#mpg.select(

ParseException: "\nmismatched input 'manufacturer' expecting <EOF>(line 1, pos 9)\n\n== SQL ==\nThe year manufacturer model has a cyl cylinder endinge.\n---------^^^\n"

    b. Transform the trans column so that it only contains either manual or auto.

3. Load the tips dataset as a spark dataframe.

    a. What percentage of observations are smokers?

    b. Create a column that contains the tip percentage

    c. Calculate the average tip percentage for each combination of sex and smoker.

4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to farenheight.

- Which month has the most rain, on average?

- Which year was the windiest?

- What is the most frequent type of weather in January?

- What is the average high and low tempurature on sunny days in July in 2013 and 2014?

- What percentage of days were rainy in q3 of 2015?

- For each year, find what percentage of days it rained (had non-zero precipitation).